@import "tailwindcss";

@theme {
  --color-luminaria-dark: #0f172a;
  --color-luminaria-accent: #fbbf24;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-luminaria-dark);
  color: white;
}

model-viewer {
  width: 100%;
  height: 100%;
}

:fullscreen model-viewer {
  width: 100vw;
  height: 100vh;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 4px;
}